In [4]:
import pandas as pd
import sqlite3

In [10]:
csv_file = r'C:\\Users\\catar\\OneDrive\\FEUP\\2 semestre\\PCII\\g04_project\\G04_Movie_Database.csv'
db_file = "C:\\Users\\catar\\OneDrive\\FEUP\\2 semestre\\PCII\\g04_project\\data\\base.db"

In [12]:
df = pd.read_csv(csv_file)    
conn = sqlite3.connect(db_file)

In [73]:
df_actors = df[['actors_id', 'name', 'birthdate', 'nationality']].drop_duplicates()
df_actors.to_sql('Actors', conn, if_exists='append', index=False)

387

In [113]:
df_movies = df[['movies_id','title', 'genre', 'release_year', 'studios_id']].drop_duplicates()
df_newMovies = df_movies.drop_duplicates()
df_newMovies.sort_values(['movies_id'])
df_newMovies.to_sql('Movies', conn, if_exists='append', index=False)

291

In [119]:
df_studios = df[['studios_id', 'studio_name', 'location']].drop_duplicates()
df_studios.to_sql('Studios', conn, if_exists='append', index=False)

IntegrityError: UNIQUE constraint failed: Studios.studios_id

In [141]:
df_cast = df[['movies_id', 'actors_id', 'role']].drop_duplicates()
df_cast.to_sql('Cast', conn, if_exists='append', index=False)

1200